<mat-toolbar color="primary">
  <button mat-raised-button (click)="limpiarFiltros()" color="accent">
    Limpiar filtros
  </button>
  <span>Ingresos Lubricentro</span>
  <span>Monto Registros Seleccionados:
    {{ totalSeleccion | currency: "$":"symbol":"1.0-0" }}
  </span>
  <button mat-raised-button color="accent" style="margin-left: 1rem" (click)="revelarTotal()">
    Revelar total
  </button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z10">
  <!-- check column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- ID with checkbox -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <!-- date with datapicker -->
  <ng-container matColumnDef="fecha" class="mat-column-date">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <mat-date-range-input [formGroup]="formFilter" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date" />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="formFilter.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="formFilter.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{ element.fecha | date: 'dd/MM/yyyy' }}</td>
  </ng-container>
  <!-- sucursal with text input -->
  <ng-container matColumnDef="sucursal">
    <th mat-header-cell *matHeaderCellDef>
      <div [formGroup]="formFilter">
        <mat-form-field class="full-width">
          <mat-select placeholder="Sucursal" formControlName="idSucursal">
            <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.razonSocial">
              {{ sucursal.razonSocial }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">{{ element.sucursal }}</td>
  </ng-container>
  <!-- tipo egreso with select -->
  <!-- TODO repair source ts -->
  <ng-container matColumnDef="tipoIngreso">
    <th mat-header-cell *matHeaderCellDef>
      <div [formGroup]="formFilter">
        <mat-form-field class="full-width">
          <mat-select placeholder="Tipo Ingreso" formControlName="tipoIngreso">
            <mat-option *ngFor="let tipo of tiposIngresos" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">{{ element.tipoIngreso }}</td>
  </ng-container>
  <!-- estado Pago -->
  <ng-container matColumnDef="estadoPago">
    <th mat-header-cell *matHeaderCellDef>
      <div [formGroup]="formFilter">
        <mat-form-field class="full-width">
          <mat-select placeholder="Estado Pago" formControlName="estadoPago">
            <mat-option *ngFor="let estado of estadosPagos" [value]="estado">
              {{ estado }}
            </mat-option>
            <mat-option value="BOLETA"> BOLETA </mat-option>
            <mat-option value="FACTURA"> FACTURA </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">{{ element.estadoPago }}</td>
  </ng-container>
  <!-- monto currency fomrat -->
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef>Monto</th>
    <td mat-cell *matCellDef="let element">
      {{ element.monto | currency: "$":"symbol":"1.0-0" }}
    </td>
  </ng-container>
  <!-- usuario with select filter -->
  <!-- TODO add filter rule un types and here -->
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
  </ng-container>
  <!-- respaldos with button download -->
  <ng-container matColumnDef="respaldos">
    <th mat-header-cell *matHeaderCellDef>Respaldos</th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab (click)="recuperarArchivos(element.RespaldoIngresoLubricentros)">
        <mat-icon>get_app</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No existen coincidencias</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 30, 50, 100]"></mat-paginator>