<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" class="mat-elevation-z10">
    <mat-card class="shipping-card">
        <mat-card-header>
            <h1> Egresos Inmobiliaria </h1>
        </mat-card-header>
        <br><br>
        <mat-card-content>

            <div class="row">
                <!-- sucursales -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Sucursales" formControlName="idSucursal">
                            <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                                {{ sucursal.razonSocial }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressForm.controls['idSucursal'].hasError('required')">
                            sucursal es <strong>requrido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- propiedad -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Propiedad" formControlName="propiedad">
                            <mat-option value="Bicentenario 1">
                                Bicentenario 1
                            </mat-option>
                            <mat-option value="Bicentenario 2">
                                Bicentenario 2
                            </mat-option>
                            <mat-option value="Pucara">
                                Pucara
                            </mat-option>
                            <mat-option value="Cabaña 1">
                                Cabaña 1
                            </mat-option>
                            <mat-option value="Cabaña 2">
                                Cabaña 2
                            </mat-option>
                            <mat-option value="Valles de Santa Fe">
                                Valles de Santa Fe
                            </mat-option>
                            <mat-option value="Casa Jardin del Este">
                                Casa Jardin del Este
                            </mat-option>
                            <mat-option value="Cerezos">
                                Cerezos
                            </mat-option>
                            <mat-option value="Chépica">
                                Chépica
                            </mat-option>
                            <mat-option value="Otra">
                                Otra
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressForm.controls['propiedad'].hasError('required')">
                            propiedad es <strong>requrido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" *ngIf="f.propiedad.value == 'Otra' ">
                        <input matInput placeholder="Otra Propiedad" formControlName="otraPropiedad" type="text" />
                    </mat-form-field>
                </div>
                <!-- fin -->

                <!-- tipo egreso -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Tipo Egreso" formControlName="tipoEgreso">
                            <mat-option value="Gastos">
                                Gastos
                            </mat-option>
                            <mat-option value="Costos">
                                Costos
                            </mat-option>
                            <mat-option value="Remuneraciones">
                                Remuneraciones
                            </mat-option>
                            <mat-option value="Bancarios">
                                Bancarios
                            </mat-option>
                            <mat-option value="Impuestos">
                                Impuestos
                            </mat-option>
                            <mat-option value="Inversiones">
                                Inversiones
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressForm.controls['tipoEgreso'].hasError('required')">
                            tipo ingreso es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- fin -->
            </div>

            <div class="row">
                <!-- select fecha -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Seleccionar fecha</mat-label>
                        <input matInput formControlName="fecha" [matDatepicker]="picker" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="addressForm.controls['fecha'].hasError('required')">
                            fecha es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- monto -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Monto" formControlName="monto" type="number" />
                        <mat-error *ngIf="addressForm.controls['monto'].hasError('required')">
                            cliente es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- Descripción Egreso -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Descripción Egreso" formControlName="descripcionEgreso" />
                        <mat-error *ngIf="addressForm.controls['descripcionEgreso'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Responsable -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Responsable" formControlName="responsable" />
                        <mat-error *ngIf="addressForm.controls['responsable'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>

        <!-- Botón enviar -->
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
          <mat-icon>send</mat-icon> Enviar
        </button>
        </mat-card-actions>
    </mat-card>
</form>