/* tabla responsiva */

.table-responsive,
mat-toolbar {
    width: 100% !important;
    overflow-x: auto !important;
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    min-width: 8rem !important;
}


/* fin */

td,
th {
    text-align: justify;
    padding: 5px !important;
}

.mat-toolbar {
    margin-top: 2rem;
}

span {
    margin-left: 2rem;
}

.mat-column-select {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-id {
    //word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    //overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    font-size: 10px;
    //word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-fecha {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10px !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 150px;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-sucursal {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100px;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-cliente {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 150px;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-estadoPago {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 150px;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-monto {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    //word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-tipoEgreso {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-respaldo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-usuario {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    //word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-nDocumento {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: auto;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

mat-form-field {
    width: 100%
}


/* Responsivo 

@media (max-width: 400px) {
    .mat-toolbar-single-row {
        height: 138px;
    }
    .toolbar1 {
        margin-top: -100px;
    }
    .toolbar2 {
        margin-left: -385px;
    }
    .toolbar2-button {
        margin-top: 50px;
        margin-left: -385px;
    }
}
*/